@model List<GladiatorProject.Models.Gladiator>

<h2 style="text-align:center">Gladiators without owners</h2>

<div>
    @using (Ajax.BeginForm("SearchGladiator",
             new AjaxOptions
             {
                 UpdateTargetId = "Search",
                 InsertionMode = InsertionMode.Replace

             }
     ))
    {

        @Html.DisplayName("Search by User Name")
        @Html.TextBox("searchString")
        <input type="submit" value="Search" />
    }
</div>
<div id="GladiatorLog">
</div>
<div id="Search">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayName("Name")
            </th>
            <th>
                @Html.DisplayName("Level")
            </th>
            <th>
                @Html.DisplayName("Exp")
            </th>
            <th>
                @Html.DisplayName("Skill points")
            </th>
            <th>
                @Html.DisplayName("Health")
            </th>
            <th>
                @Html.DisplayName("Armor")
            </th>
            <th>
                @Html.DisplayName("Max Armor")
            </th>
            <th>
                @Html.DisplayName("Strenght")
            </th>
            <th>
                @Html.DisplayName("Modifyer")
            </th>
            <th>
                @Html.DisplayName("Constitution")
            </th>
            <th>
                @Html.DisplayName("Modifyer")
            </th>
            <th>
                @Html.DisplayName("Gold")
            </th>
            <th>
                @Html.DisplayName("Previous Owner")
            </th>
            <th>
                @Html.DisplayName("Delete Date")
            </th>
        </tr>

        @foreach (var item in Model)
        {
           
            <tr>
                <td>
                    @Html.DisplayFor(ModelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Level)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Experiance)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SkillPoints)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FullHealth)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Armor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaxArmor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Strenght)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StrenghtModifyer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Constitution)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ConstitutionModifyer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gold)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PreviousUser)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfDelete)
                </td>
                <td>
                    @Html.ActionLink("Edit", "GladiatorEdit", new { id = item.Id }) |
                    @Html.ActionLink("Restore owner", "GladiatorRestore", new { id = item.Id }) |
                    @Ajax.ActionLink("Battle Log", "GladiatorDetails", new { id = item.Id }, new AjaxOptions
               {
                   UpdateTargetId = "GladiatorLog",
                   InsertionMode = InsertionMode.Replace
               }) |
                    @Html.ActionLink("Delete", "GladiatorDelete", new { id = item.Id })
                </td>
            </tr>
            
        }
    </table>
</div>