@model GladiatorProject.Models.Gladiator

@{
    ViewBag.Title = "GladiatorScoreBan";
}

<h2>Gladiator Score Ban</h2>

<p>You sure you wanna ban ?</p>
@Html.HiddenFor(Model => Model.Id)
<dl>
    <dt>Name</dt>
    <dd>@Model.Name</dd>
    <dt>Score</dt>
    <dd>@Model.GladiatorHighScore</dd>
</dl>

<div>
    <button>@Html.ActionLink("Ban Confirm", "GladiatorScoreBanConfirm", new { id = Model.Id })</button>
</div>
<br />
<div>
    @Html.ActionLink("Back to Admin menu", "Index")
</div>