@model GladiatorProject.Models.ApplicationUser

@{
    ViewBag.Title = "UserScoreBan";
}

<h2>User Score Ban</h2>

<p>You sure you wanna ban ?</p>
@Html.HiddenFor(Model => Model.Id)
<dl>
    <dt>Name</dt>
    <dd>@Model.UserName</dd>
    <dt>Score</dt>
    <dd>@Model.AccountHighScore</dd>
</dl>

<div>
    <button>@Html.ActionLink("Ban Confirm", "UserScoreBanConfirm", new { id = Model.Id })</button>
</div>
<br />
<div>
    @Html.ActionLink("Back to Admin menu", "Index")
</div>