@using GladiatorProject.Models
@model Player

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Class)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Experiance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Level)
        </th>
        <th></th>
    </tr>

    <tr>
        <td>
            @Html.DisplayFor(modelItem => Model.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.Class.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.Experiance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.Level)
        </td>
    </tr>


</table>
