<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">
</head>
<body style="background-color:black;">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container" style="font-family: 'Shadows Into Light', cursive; font-size: 20px">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Emolition games", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Gladiator game", "Index", "Gladiators")</li>
                    <li>@Html.ActionLink("Fox hunting", "Foxhunting", "Home")</li>
                    <li>@Html.ActionLink("Fox survival", "Foxsurvival", "Home")</li>
                    @if (User.IsInRole("Player")) // Checking so only logged in players can access support.
                    {
                        <li>@Html.ActionLink("Support", "Index", "Support")</li>
                    }
                    @if (User.IsInRole("Overlord")) // Checking to make sure user logged in as admin to view the admin tab.
                    {
                        <li>@Html.ActionLink("Admin", "Index", "Admin")</li>
                    }
                    else if (User.IsInRole("Support")) // Checking to make sure user logged in as admin to view the admin tab.
                    {
                        <li>@Html.ActionLink("Support desk", "Index", "Admin")</li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div id="wrapper">
        <div id="sidebar-wrapper">
            <div>
               @{Html.RenderAction("HighScoreLists", "Home" , null);}  @*Render the partial view for where the 2 highscore lists is located.*@
            </div>
        </div>
        <div id="page-content-wrapper">
            <a href="#" class="btn breadcrumb" id="menu-toggle">Toggle Highscore</a>  @*button to pull out the highscore list side view*@
            <div class="container body-content">
                @RenderBody()
               
                <footer class="footer navbar-fixed-bottom" style="text-align:center; color:white">
                    <p>&copy; @DateTime.Now.Year -Robin Sandberg</p>
                </footer>
            </div>
        </div>
    </div>
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script>                                                    //script for the sidebar view
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("menuDisplayed");
        });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
