@model List<GladiatorProject.Models.SupportRequests>

@{
    ViewBag.Title = "MyRequests";
}

<h2 class="Mystyle" style="text-align:center;">My Requests</h2>

<div id="DetailView">

</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Gladiator")
        </th>
        <th>
            @Html.DisplayName("Request")
        </th>
        <th>
            @Html.DisplayName("Date")
        </th>
        <th>
            @Html.DisplayName("Solved")
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Gladiator)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Request)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Solved)
            </td>
            <td>
                @if (item.Solved == "No")
                {
                    @Html.ActionLink("Solved", "SupportSolved", new { id = item.Id })
                }
                |
                @Ajax.ActionLink("Details/Messages", "SupportDetails", new { id = item.Id }, new AjaxOptions
                 {
                   UpdateTargetId = "DetailView",
                   InsertionMode = InsertionMode.Replace
                 })
                |
                @Html.ActionLink("Delete", "SupportDelete", new { id = item.Id })

            </td>
        </tr>
    }
</table>

<div>
    @Html.ActionLink("Back to Support", "Index")
</div>