@using GladiatorProject.Models
@model Opponent
@*@model Gladiator*@


<div class="row">
    <dl>
        <dt>Name</dt>
        <dd>@Model.Name</dd>
        <dt>Level</dt>
        <dd>@Model.Level</dd>
        <dt>Health</dt>
        <dd>
            @Model.Health / @Model.FullHealth
        </dd>
        <dt>Damage</dt>
        <dd>
            @Model.Damage
        </dd>
        <dt>Armor</dt>
        <dd>
            @Model.Armor
        </dd>

        <dt>Strengt</dt>
        <dd>
            @Model.Strenght
        </dd>
        <dt>Strengt Modifyer</dt>
        <dd>
            @Model.StrenghtModifyer
        </dd>
        <dt>Constitution</dt>
        <dd>
            @Model.Constitution
        </dd>
        <dt>Constitution Modifyer</dt>
        <dd>
            @Model.ConstitutionModifyer
        </dd>
        <dd>
            <button>
                @Html.ActionLink("Go to battle", "PreBattle")
            </button>
        </dd>
    </dl>
</div>