@using GladiatorProject.Models
@model Opponent


<div class="row">
    <dl>
        <dt>Name</dt>
        <dd>@Model.Name</dd>
        <dt>Level</dt>
        <dd>@Model.Level</dd>
        <dt>Health</dt>
        <dd>
            @Model.Health
        </dd>

        <dt>Armor</dt>
        <dd>
            @Model.Armor
        </dd>

        <dt>Damage</dt>
        <dd>
            @Model.Damage
        </dd>
        <dd>
            <button>
                @Ajax.ActionLink("Fight", "PreBattle",
    new AjaxOptions
    {
        UpdateTargetId = "Battle",
        InsertionMode = InsertionMode.Replace,
        OnSuccess = "some javascript"
    })
            </button>
        </dd>
    </dl>
</div>