@using GladiatorProject.Models
@model BattleStart


<div class="row">
    <dl>
        <dt>Name</dt>
        <dd>@Model.Opponent.Name</dd>
        <dt>Level</dt>
        <dd>@Model.Opponent.Level</dd>
        <dt>Health</dt>
        <dd>
            @Model.Opponent.Health / @Model.Opponent.FullHealth
        </dd>

        <dt>Armor</dt>
        <dd>
            @Model.Opponent.Armor
        </dd>

        <dt>Damage</dt>
        <dd>
            @Model.Opponent.Damage
        </dd>
        <dd>
            <button>
                @Ajax.ActionLink("Search Opponent", "PartFindOpponent",new {id =Model.Id }, new AjaxOptions
                  {
                      UpdateTargetId = "opponent",
                      InsertionMode = InsertionMode.Replace,
                      OnSuccess = "some javascript"
                  })
            </button>
            <button>
                @Html.ActionLink("Go to battle", "PreBattle", new {id = Model.Id})
            </button>
        </dd>
    </dl>
</div>