@using GladiatorProject.Models
@model BattleStart

@{
    ViewBag.Title = "BattleView";
}


<div class="row">
    <h2 style="text-align:center">Ready to do Battle</h2>
    <div class="col-md-3" style="height:400px;overflow:auto ; text-align:center ; border:solid black">
        <h4>Player</h4>
        <div id="player">
            <dl>
                <dt>Name</dt>
                <dd>@Model.Gladiator.Name</dd>
                <dt>Level</dt>
                <dd>@Model.Gladiator.Level</dd>
                <dt>Experiance</dt>
                <dd>@Model.Gladiator.Experiance</dd>
                <dt>Gold</dt>
                <dd>@Model.Gladiator.Gold</dd>
                <dt>Winning Streak</dt>
                <dd>@Model.Gladiator.CurrentWinningStreak</dd>
                <dt>Health</dt>
                <dd>
                    @Model.Gladiator.Health / @Model.Gladiator.FullHealth
                </dd>
                <dt>Damage</dt>
                <dd>
                    @Model.Gladiator.DamageDice
                </dd>
                <dt>Armor</dt>
                <dd>
                    @Model.Gladiator.Armor
                </dd>
                <dt>Strenght</dt>
                <dd>
                    @Model.Gladiator.Strenght
                </dd>
                <dt>Strenght Modifyer</dt>
                <dd>
                    @Model.Gladiator.StrenghtModifyer
                </dd>
                <dt>Constitution</dt>
                <dd>
                    @Model.Gladiator.Constitution
                </dd>
                <dt>Constitution Modifyer</dt>
                <dd>
                    @Model.Gladiator.ConstitutionModifyer
                </dd>

                <dt>Skill points</dt>
                <dd>@Model.Gladiator.SkillPoints</dd>
            </dl>
        </div>
    </div>

    <div class="col-md-6" id="battle" style="height:400px;overflow:auto ; text-align:center ; border:solid black">
        <h4>Battle</h4>
        <div id="Battle">
            <button>
                @Ajax.ActionLink("Start Battle", "BattleStart", new { id = Model.Id },
           new AjaxOptions
           {
               UpdateTargetId = "Battle",
               InsertionMode = InsertionMode.Replace,

           })
            </button>
        </div>

    </div>

    <div class="col-md-3" style="height:400px;overflow:auto ; text-align:center ; border:solid black">
        <h4>Enemy</h4>
        <div id="opponent">
            <dl>
                <dt>Name</dt>
                <dd>@Model.Opponent.Name</dd>
                <dt>Level</dt>
                <dd>@Model.Opponent.Level</dd>
                <dt>Health</dt>
                <dd>
                    @Model.Opponent.Health / @Model.Opponent.FullHealth
                </dd>
                <dt>Damage</dt>
                <dd>
                    @Model.Opponent.Damage
                </dd>
                <dt>Armor</dt>
                <dd>
                    @Model.Opponent.Armor
                </dd>

                <dt>Strenght</dt>
                <dd>
                    @Model.Opponent.Strenght
                </dd>
                <dt>Strenght Modifyer</dt>
                <dd>
                    @Model.Opponent.StrenghtModifyer
                </dd>
                <dt>Constitution</dt>
                <dd>
                    @Model.Opponent.Constitution
                </dd>
                <dt>Constitution Modifyer</dt>
                <dd>
                    @Model.Opponent.ConstitutionModifyer
                </dd>
            </dl>
        </div>

    </div>

</div>
