@model GladiatorProject.Models.Gladiator

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Gladiator</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Battles)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Battles)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BattlesWon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BattlesWon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BattlesDraw)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BattlesDraw)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BattlesLost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BattlesLost)
        </dd>

    </dl>
</div>

    @foreach (var item in Model.DefeatedOpponent)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Health) / @Html.DisplayFor(ModelItem => item.FullHealth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Armor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Damage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Level)
            </td>
        </tr>
    }

<p>
    @Html.ActionLink("Back to Gladiators", "Index")
</p>
