@using GladiatorProject.Models
@model Gladiator

@{
    ViewBag.Title = "Details";
}

<h2 class="Mystyle" style="text-align:center;">Battle Log of gladiator</h2>

<div>
    <hr />
    <dl class="dl-horizontal" style="background-color:white; border:solid purple; color:black;">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Battles)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Battles)
        </dd>

        <dt>
            @Html.DisplayName("Battles won")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BattlesWon)
        </dd>

        <dt>
            @Html.DisplayName("Battles draw")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BattlesDraw)
        </dd>

        <dt>
            @Html.DisplayName("Battles lost")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BattlesLost)
        </dd>

        <dt>
            @Html.DisplayName("Current winning streak")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentWinningStreak)
        </dd>

        <dt>
            @Html.DisplayName("Best winning streak")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BestWinningStreak)
        </dd>

        <dt>
            @Html.DisplayName("Last Battle fought")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastBattle)
        </dd>

    </dl>
  
</div>

<p style="color:white;">
    @Html.ActionLink("Back to Gladiators", "Index")
</p>
