@model GladiatorProject.Models.Gladiator

@{
    ViewBag.Title = "FindOpponent";
}

<div class="row">

    <div style="text-align:center">
        <h2>Prepair for gladiator battle</h2>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-4" style="height:400px;overflow:auto ; text-align:center ; border:solid black">
                <h4>Player</h4>
                
                    <div class="row">
                        <dl>
                            <dt>Name</dt>
                            <dd>@Model.Name</dd>

                            <dt>Level</dt>
                            <dd>@Model.Level</dd>

                            <dt>Experiance</dt>
                            <dd>@Model.Experiance</dd>

                            <dt>Gold</dt>
                            <dd>@Model.Gold</dd>

                            <dt>Winning Streak</dt>
                            <dd>@Model.CurrentWinningStreak</dd>

                            <dt>Health</dt>
                            <dd>
                                @Model.Health / @Model.FullHealth
                            </dd>

                            <dt>Damage</dt>
                            <dd>@Model.Damage</dd>

                            <dt>Damage Dice</dt>
                            <dd>@Model.DamageDice</dd>

                            <dt>Armor</dt>
                            <dd id="armor">
                                @Model.Armor <br />@if (Model.SkillPoints >= 1)
                                {
                                    if (Model.Armor <= 18)
                                    {
                                        <button>
                                            @Html.ActionLink("Increase armor", "AddStats", new { id = Model.Id, stat = "Armor" })
                                        </button>
                                    }
                                }
                            </dd>

                            <dt>Strenght</dt>
                            <dd id="strenght">
                                @Model.Strenght <br />@if (Model.SkillPoints >= 1)
                                {
                                    <button>
                                        @Html.ActionLink("Increase Strenght", "AddStats", new { id = Model.Id, stat = "Strenght" })
                                    </button>
                                }
                            </dd>
                            <dt>Strenght Modifyer</dt>
                            <dd>@Model.StrenghtModifyer</dd>

                            <dt>Constitution</dt>
                            <dd id="constitution">
                                @Model.Constitution <br /> @if (Model.SkillPoints >= 1)
                                {
                                    <button>
                                        @Html.ActionLink("Increase Constitution", "AddStats", new { id = Model.Id, stat = "Constitution" })
                                    </button>
                                }
                            </dd>
                            <dt>Constitution Modifyer</dt>
                            <dd>@Model.ConstitutionModifyer</dd>

                            <dt>Skill points</dt>
                            <dd>@Model.SkillPoints</dd>
                        </dl>
                        <div>
                            @Html.ActionLink("Back to gladiators", "Index", "Gladiators")
                        </div>
                    </div>
                </div>   

            <div class="col-md-4" style="height:400px;overflow:auto ; text-align:center ; border:solid black">
                <h4>Enemy</h4>
                <div id="opponent">
                    @if (Model.Health >= 1)
                    {
                        <button>
                            @Ajax.ActionLink("Search Opponent", "PartFindOpponent",new {id = Model.Id }, new AjaxOptions
                       {
                           UpdateTargetId = "opponent",
                           InsertionMode = InsertionMode.Replace,
                           OnSuccess = "some javascript"
                       })
                        </button>
                    }
                    <br /><br />
                        <div class="row">
                            @if (Model.Health < Model.FullHealth)
                            {
                                if (Model.Gold >= 1)
                                {
                                    <button>@Html.ActionLink("Heal yourself", "Healing", new { id = Model.Id })</button>
                                }
                                else if(Model.Gold == 0 && Model.Health <= 0)
                                {
                                    <button>@Html.ActionLink("Gladiator dead not enough gold to heal up", "Index" )</button>
                                }
                                
                            }
                        </div> 
                </div>
            </div>
            <div class="col-md-2"></div>
        </div> 
    </div>
</div>

