@model IEnumerable<GladiatorProject.Models.Gladiator>


@{
    ViewBag.Title = "Index";
}

<h2 style="text-align:center">Your Gladiator stable</h2>
@if (Model.Count() <= 4)
{
    <button style="margin-left:45%; margin-bottom:25px ">
        @Html.ActionLink("Create Gladiator", "Create")
    </button>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Health)
        </th>
        <th>
            @Html.DisplayName("Damage")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Armor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Strenght)
        </th>
        <th>
            @Html.DisplayName("Modifyer")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Constitution)
        </th>
        <th>
            @Html.DisplayName("Modifyer")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gold)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SkillPoints)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Experiance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Level)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Health) / @Html.DisplayFor(ModelItem => item.FullHealth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DamageDice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Armor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Strenght)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StrenghtModifyer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Constitution)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ConstitutionModifyer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gold)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SkillPoints)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Experiance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Level)
        </td> 
        <td>
            @Html.ActionLink("Select", "SelectGladiator", new { id = item.Id }, null) |
            @Html.ActionLink("Battle Log", "Details", new { id = item.Id }) |
            @*@Html.ActionLink("Name Change", "Edit", new { id = item.Id }) |*@
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>
    </tr>
    }

</table>

<div></div>
